<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>ATM</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--返回当前ATM系统各个对象的状态-->
    <servlet>
        <servlet-name>GetStatusServlet</servlet-name>
        <servlet-class>servlet.GetStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStatusServlet</servlet-name>
        <url-pattern>/GetStatusServlet</url-pattern>
    </servlet-mapping>
    <!--开启ATM-->
    <servlet>
        <servlet-name>TurnOnServlet</servlet-name>
        <servlet-class>servlet.TurnOnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TurnOnServlet</servlet-name>
        <url-pattern>/TurnOnServlet</url-pattern>
    </servlet-mapping>
    <!--关闭ATM-->
    <servlet>
        <servlet-name>TurnOffServlet</servlet-name>
        <servlet-class>servlet.TurnOffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TurnOffServlet</servlet-name>
        <url-pattern>/TurnOffServlet</url-pattern>
    </servlet-mapping>
    <!--插入银行卡-->
    <servlet>
        <servlet-name>CardInsertedServlet</servlet-name>
        <servlet-class>servlet.CardInsertedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CardInsertedServlet</servlet-name>
        <url-pattern>/CardInsertedServlet</url-pattern>
    </servlet-mapping>
    <!--验证密码-->
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <!--用户在输入取款金额过程中、输入存款金额过程中、输入转账账户过程中、输入转账金额过程中点击返回按钮时-->
    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>servlet.CancelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>
    <!--选择一个交易（存款，取款，查询）-->
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>servlet.TransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/TransactionServlet</url-pattern>
    </servlet-mapping>
    <!--存款-->
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>servlet.TransactionExtend.DepositServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/DepositServlet</url-pattern>
    </servlet-mapping>
    <!--查询账户信息后-->
    <servlet>
        <servlet-name>InquiryServlet</servlet-name>
        <servlet-class>servlet.TransactionExtend.InquiryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InquiryServlet</servlet-name>
        <url-pattern>/InquiryServlet</url-pattern>
    </servlet-mapping>
    <!--执行转账-->
    <servlet>
        <servlet-name>TransferBalanceServlet</servlet-name>
        <servlet-class>servlet.TransactionExtend.TransferBalanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferBalanceServlet</servlet-name>
        <url-pattern>/TransferBalanceServlet</url-pattern>
    </servlet-mapping>
    <!--转账收款方校验-->
    <servlet>
        <servlet-name>TransferAccountServlet</servlet-name>
        <servlet-class>servlet.TransactionExtend.TransferAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferAccountServlet</servlet-name>
        <url-pattern>/TransferAccountServlet</url-pattern>
    </servlet-mapping>
    <!--获取取款金额,执行扣款-->
    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>servlet.TransactionExtend.WithdrawServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/WithdrawServlet</url-pattern>
    </servlet-mapping>
    <!--修改密码-->
    <servlet>
        <servlet-name>UpdatePWDServlet</servlet-name>
        <servlet-class>servlet.TransactionExtend.UpdatePWDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePWDServlet</servlet-name>
        <url-pattern>/UpdatePWDServlet</url-pattern>
    </servlet-mapping>
    <!--交易凭条打印-->
    <servlet>
        <servlet-name>TransactionPrintServlet</servlet-name>
        <servlet-class>servlet.TransactionPrintServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionPrintServlet</servlet-name>
        <url-pattern>/TransactionPrintServlet</url-pattern>
    </servlet-mapping>
</web-app>