#display {
    border: 1px solid;
    display: inline-block;
    background-color: #393D49;
    margin-top: 20px;
    height: 400px;
    color: white;
    font-size: 24px;
}

.grid-demo{
    text-align: center;
}